table {
    border-radius: 4px;
    border: solid 1px #e1e1e1;
    background-color: #fff;
}

th {
    border: 0px;
    font-weight: 400;
    color: #9198af;
}

.action {
    margin-right: 15.5px;
    cursor: pointer;
}

svg {
    color: #9198af;
}

tr:hover {
    background-color: #fff3f2;
    cursor: pointer;
}