
<div class="modal-header">
<h4 class="modal-title pull-left">{{title}}</h4>
</div>
<div class="modal-body">
    <div class="form-group">
        <label for="nameInput">Nome <span class="required">*</span></label>
        <input type="text" class="form-control" id="nameInput" [(ngModel)]="newPerson.name" maxlength="50" >
    </div>
    <div class="form-group">
        <label for="fantasyNameInput">Nome Fantasia</label>
        <input type="tex" class="form-control" id="fantasyNameInput" [(ngModel)]="newPerson.fantasyName" maxlength="50">
    </div>
    <div class="form-group">
        <label for="cpfCnpjInput">CPF / CNPJ <span class="required">*</span></label>
        <input type="text" class="form-control" id="cpfCnpjInput"  mask="CPF_CNPJ" [(ngModel)]="newPerson.cpfCnpj">
    </div>
    <div class="form-group w-50">
        <label for="phoneInput">Telefone</label>
        <span class="d-flex">
            <input type="text" class="form-control" id="phoneInput" maxlength="15" mask="(00) 00000-0000" [(ngModel)]="phone">
            <button class="btn btn-info ml-2 btn-sm" (click)="addContact()">+</button>
        </span>
    </div>
    <div class="person-phone">
        <span *ngFor="let pPhone of newPerson.phoneList">
            <p class="d-inline"> {{pPhone| mask:"(00) 00000-0000"}}</p>
            <svg (click)="excludeContact(pPhone)" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill action ml-2 text-danger" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
            </svg>
        </span>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-light" (click)="editPersonModal.close()">Cancelar</button>
    <button class="btn btn-primary" [disabled]="!saveIsValid()" (click)="save()">Salvar</button>
</div>

